* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}


body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 105px;

}

img {
    width: 100%;
}



.flex {
    display: flex;
}

.column{
    display: flex;
    flex-direction: column;
        
}
.center{
    display: flex;
    justify-content: center;
}


.relative{
    postion: relative;
}



header {
    background-color: #b4d0e7;
    font-size: 14px;
}

.header-top {
    height: 10vh;
    background-color: white;
    padding: 5px; 
    justify-content: space-between;
    align-items: center;
    

}

.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
}

.container-head-1 {
    width: 30%;
    justify-content: space-between;

}

.container-head-2 {
    width: 30%;
    justify-content: space-between;
}

.logo {
    width: 120px;
}

.container-head-1 > a  {
    text-decoration: none;
    color: black;
    padding: 5px;
}

.container-head-2 > a  {
    text-decoration: none;
    color: black;
    padding: 5px;
}

.blue-button {
    background-color: #0061ff;
    color: white;
    padding: 5px 12px;
    border: none;
} 

/* header-bottom */

.header-bottom {
    margin: 60px 270px;
    height: 85vh;
    padding-top: 70px;
}

h1 {
    font-size: 64px;
    width: 960px;
}

p {
    width: 250px;
    margin-top: 30px;
}

.button-large {
    width: 200px;
    margin: 20px 0px;
    
}

.text-head {
    margin-top: 30px;
    font-size: 14px;
}

.header-image {
    width: 500px;
}


/* main */

/* section 1 */ 

.container-section-1{
    margin: 120px 320px;
    justify-content: space-between;
}

h2 {
    font-size: 33px;
}

.container-input{
    width: 370px;
    justify-content: space-between;
    padding-top: 40px;

}

.container-box-1{
    margin-top: 50px;
    justify-content: space-between;


}

.head-box{
    border-bottom: 0.5px solid black;
    padding: 10px opx;
}

.box-1{
    margin: 20px;

}

.top-price{
    padding: 20px 0px;

}

.bottom-price{
    margin-top: 10px;
    font-size: 11px;
    color: gray;

}

.box-icon{
    padding: 15px 0px; 
    font-size: 11px;
    line-height: 30px;
}

.button-box{
    padding-bottom: 30px;
    font-size: 11px;
    line-height: 40px;

}

.title-foot-box-1{
    margin-top: 30px;

}

.box-1 > span{
    font-size: 11px;
    padding: 10px 0px;
}

.button-section-1 {
    margin: 15px 0px;
}

.container-box-1 > div {
    width: 250px;
    height: 800px;
    border: 0.5px solid black;

}

.box-4 {
    margin-top: 50px;
    height: 200px;
    border: 0.5px solid black;
}

.title-box-4 {
    border-bottom: 0.5px solid black;
    padding: 10px 0px;
}

.box-4-head-content {
    justify-content: space-between;
}

.office-sales {
    margin-top: 10px;
    font-size: 14px;
}

.box-4-solution {
    width: 475px;
    font-size: 11px;
    margin-top:30px;
}

.content-box-4 {
    margin: 20px;
}

.blue-button:hover {
    opacity: 0.7;
} 

.container-head-1 {
    align-items: center;
}

.container-head-1 > a {
    padding: 29px 0px;
    
}

.box-1-line {
    width: 50px;
}

.container-head-2 {
    align-items: center;
}

.container-head-2 > a {
    padding: 29px 0px;
    
}

.container-head-1 > a:hover {
    border-bottom: 1px solid black;
    opacity: 0.7;
}

.container-head-2 > a:hover {
    border-bottom: 1px solid black;
    opacity: 0.7;
}

/* section  2 */

.box-section-2 {
    padding: 30px;
    width: 350px;
}

.button-section-2 {
    margin-top: 40px;
    width: 180px ;
    background-color: white;
    padding: 10px;
    
}

.title-section-2 {
    width: 260px;
}

.partner {
    width: 500px;
}

.container-box-2 > p {
    margin: 50px;
}

/* section-3 */

.container-box-3 > h2 {
    margin: 60px 0px;
    
}

.container-section-3-top > div {
    width: 250px; 
}

.container-section-3-bottom > div {
    width: 250px; 
}

.container-section-3-top {
    justify-content: space-between;
}


 .container-section-3-bottom {
    justify-content: space-between;
    margin: 60px 0px;
}

.no-border {
    border: none ;
}

/* section-4 */

.title-section-4 {
    margin: 120px 320px;  
}

.title-section-4 > h2 {
    margin: 100px 0px;
    width: 480px;
}

.square-color {
    color:white;
}

.square-color > div {
    width: calc(100% / 3);
    flex-wrap: wrap;

}

.square-bottom-box {
    justify-content: space-between;
    margin: 0px 320px;
    padding: 60px 0px;
}

.square-bottom-box > h2 {
    width: 400px;
    color: #691938;
}

.square-1 > div {
    flex-wrap: wrap;
    height: 200px;
    width: calc(100% / 2);
}

.square-2 p {
    
    width: auto;

}

.square-3 > div {
    flex-wrap: wrap;
    height: 200px;
    width: calc(100% / 2);
    
}

.square-2 {
    background-color: #f5f5f5;
    
}

.square-1 {
    color: white;
}

.designit-back {
    background-color:#a2d39b;
    color:#cfebcc;
}

#designit {
    width: 100px;
    filter: invert(1);
    
}

.arizona-back {
    background-color:#61082b;
    color: #83264b
}

#arizona {
    width: 100%;
    height: 100%;
    
    
}

.university-back {
    align-items: center;
    background-color:#0093ce;
    color: #42afdb;
    
}

#university {
    width: 100%;
    
    height: 70%;
}

.topps-back {
    background-color:#ff1c1c;
    color: #f84f4f;
}

#topps {
    width: 100px;
    filter: invert(1);
}

.designit-logo {
    color: black;
}

#designit-logo {
    width: 35%;
    margin: 20px;

}

.designit-logo > hr {
    width: 100px;
    border: 0.1px solid grey;
    margin-left: 20px;
}

.designit-logo > p {
    margin: 20px;
}

.bicycle-back {
    background-color: #d5001f;
    color: #dd2c46;
}

#bicycle {
    width: 100px;
    filter: invert(1);
}

.hearst-back {
    background-color:#b3cfe6;
    color:#ccdeec;
}

#hearst {
    width: 100px;
    filter: invert(1);
}

.lonely-back {
    background-color: #0d2481;
    color: #304081;
    
}

#lonely {
    width: 100px;
    filter: invert(1);
}

.clear-back {
    background-color: #fad42f;
    color: #ffe261;
}

#clear {
    width: 100px;
    filter: invert(1);
}

.square-2-background {
    background-color: #b4d0e7;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 300px;
}

.square {
    transition: border 1s;
}

.square:hover {
    border: 10px solid currentColor;
  
}

/* section-5 */

.container-section-5 {
    margin: 120px 320px;
}

.request > p {
    width: 100%;
    margin: 0;
    
}

.request-frequent {
    align-items: center; 
    border-bottom: 0.5px solid black;
    height: 100px;
    padding-top: 40px;
}

.request {
    align-items: center; 
    border-bottom: 0.5px solid black;
    height: 100px;
    padding-top: 40px;
    

}

.request > span {
    margin-left: 800px; 
    position: relative;
    bottom: 20px;
}

.request-b > span {
    margin-left: 800px; 
    position: relative;
    bottom: 20px;
}


.request-b {
    border-bottom: 1px solid black;
    height: 150px;
    display: none;
    
    
}

.request-b > p {
    width: auto;
    margin-top: 40px;
}

.text-1b {
    width: 750px;
}

.text-2b {
    width: auto;
    padding-bottom: 30px;
}

.request {
    transition: 5s;
}

.box-request:hover .request {
    display: none;
}

.box-request:hover .request-b {
    display: block;
}


